<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<chess-board id="1" headertxt="dit is een regelmet veel woorden zodat we kunnen zien wat er gebeurt als je te veel tekst gebruikt voor één regel. Sterker nog als je meer tekst gebruikt dan er eigenlijk voor je gereserveerd is. " maintxt="Body 1" tiletype="zaken"></chess-board>
<chess-board id="2" headertxt="dit is twee" maintxt="Body 2"></chess-board>
<chess-board id="3" headertxt="dit is drie" maintxt="Body 3"></chess-board>
