<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<chess-board tiletype="zaken"
             id="1" 
             headertxt="dit is een regel met veel woorden zodat we kunnen zien wat er gebeurt als je te veel tekst gebruikt voor één regel. Sterker nog als je meer tekst gebruikt dan er eigenlijk voor je gereserveerd is. 
             Het blijkt dat ik hier geen HTML code in kan gebruiken. een <BR/> tag wordt gewoon getoond als tekst. " maintxt="Body 1">
</chess-board>
<chess-board tiletype="verdelen" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
<chess-board tiletype="beoordelen" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
<chess-board tiletype="nieuw" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
<chess-board tiletype="indexeren" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
<chess-board tiletype="afgerond" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
<chess-board tiletype="rapportages" 
             id="2" 
             headertxt="dit is twee" 
             maintxt="Body 2">
</chess-board>
